<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= root %></title>
  <meta name="viewport" content="width=device-width"/>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <style type='text/css'>
    /*------------------------------------------------------------------*\
      CSS style inspired from Github Repository Style and https://github.com/barrowclift/directory-theme
    \*------------------------------------------------------------------*/
    * {
      margin:0;
      padding:0;
      -webkit-box-sizing:border-box;
      -moz-box-sizing:border-box;
      box-sizing: border-box;
    }

    html {
      min-height:100%;
      font-weight:300;
      font-size:1em;
      font-family:system, -apple-system, ".SFNSDisplay-Regular", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      line-height:2em;
      color:#61666C;
    }
    body {
      padding:20px;
      margin: 0 auto;
      -webkit-backface-visibility:hidden;
    }
    a {
      color:#61666C;
      text-decoration:none;
    }
    a:hover {
      color:#2A2A2A;
    }
    h1 {
      font-weight:200;
      text-align:center;
      font-size:1.4em;
      line-height:3em;
      font-family:'Museo Slab','Open Sans',monospace;
    }
    a.clear, a.clear:link, a.clear:visited {
      color: #666666;
      padding:2px 0 2px 0;
      font-weight: 400;
      font-size: 14px;
      margin:0px 0 0 20px;
      line-height: 14px;
      display: inline-block;
      border-bottom: transparent 1px solid;
      vertical-align: -10px;
      -webkit-transition:all 300ms ease-in;
      -moz-transition:all 300ms ease-in;
      -ms-transition:all 300ms ease-in;
      -o-transition:all 300ms ease-in;
      transition:all 300ms ease-in;
    }
    a.clear:hover {
      text-decoration: none;
      color:#333333;
      cursor: pointer;
    }
    table {
      border: 1px solid #dfe2e5;
      border-bottom: 0;
      border-collapse:collapse;
      font-size:1em;
      width:100%;
      margin:5px auto 0px auto;
    }
    tr {
      outline:0;
      border:0;
    }
    tr:hover td {
      background:#F6F8FA;
    }
    tr.parent {
    }
    td {
      padding:5px 0;
      outline:0;
      border:0;
      border-bottom:1px solid #EDF1F5;
      vertical-align:middle;
      text-align:left;
      -webkit-transition:background 300ms ease-in;
      -moz-transition:background 300ms ease-in;
      -ms-transition:background 300ms ease-in;
      -o-transition:background 300ms ease-in;
      transition:background 300ms ease-in;
    }
    td.icon {
      width: 17px;
      fill: #032f628c;
    }
    td.icon .octicon {
      vertical-align: text-bottom;
    }
    td.name {
      max-width: 300px;
    }
    td.name a:hover {
      text-decoration:underline;
    }
    td.size {
      width: 125px;
      white-space: nowrap;
    }
    td.mtime {
      width: 125px;
      text-align: right;
      white-space: nowrap;
    }
    tr td:first-of-type {
      padding-left:10px;
      padding-right:10px;
    }
  </style>
</head>
<body>
<h1><%= root %></h1>
<table>
  <% files.each do |file| %>
  <tr<% if file[0] == "../" %> class="parent"<% end %>>
    <td class="icon"><%= file[0] %></td>
    <td class="name"><a href="<%= file[2] %>"><%= file[1] %></a></td>
    <td class="size"><%= file[3] %></td>
    <td class="mtime"><%= file[4] %></td>
  </tr>
  <% end %>
</table>
</body>
</html>
